@model PersonSearchModel
<!DOCTYPE html>
<html>
<head>
    <title>Person Search</title>
    <style>
        table{border-collapse:collapse;}table,td,th{border:1px #000 solid;}
        ul{list-style-type:none;padding:0;margin:0;}li{float:left;padding-right:3px;}
    </style>
    <script src="~/Scripts/NavigationMvcAjax.js"></script>
</head>
<body>
    @Html.AjaxPanel("name", 
        @<div>
             @using (Html.BeginRefreshForm(new NavigationData(true)))
             {
                 @Html.LabelFor(m => m.Name)
                 @Html.TextBoxFor(m => m.Name)
                 <input type="submit" value="Search" />
             }
        </div>)
    Page size
    @Html.RefreshLink("5", new NavigationData(true) { { "startRowIndex", null }, { "maximumRows", 5 } })
    @Html.RefreshLink("10", new NavigationData(true) { { "startRowIndex", null }, { "maximumRows", null } })
    <table>
        <thead>
            <tr>
                <th>@Html.Sorter("Name", "Name")</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.People)
            {
                <tr>
                    <td>
                        @Html.NavigationLink(person.Name, "Select", new NavigationData { { "id", person.Id } })
                    </td>
                    <td>@person.DateOfBirth.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Pager("First", "Previous", "Next", "Last")
    @string.Format("Total Count {0}", StateContext.Bag.totalRowCount)
</body>
</html>
