@model PersonSearchModel
<!DOCTYPE html>
<html>
<head>
    <title>Listing</title>
    <style>table{border-collapse:collapse;}table,td,th{border:1px #000 solid;}</style>
</head>
<body>
    @using(Html.BeginRefreshForm(new NavigationData(true)))
    {
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.LabelFor(m => m.MinDateOfBirth)
        @Html.TextBoxFor(m => m.MinDateOfBirth)
        @Html.ValidationMessageFor(m => m.MinDateOfBirth)
        <input type="submit" value="Search"/>
    }
    <table>
        <thead>
            <tr>
                <th>@Html.Sorter("Name", "Name")</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.People)
            {
                <tr>
                    <td>
                        @Html.NavigationLink(person.Name, "Select", new NavigationData { { "id", person.Id } })
                    </td>
                    <td>@person.DateOfBirth.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
