@model TodoModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Navigation • TodoMVC</title>
</head>
<body>
    <section>
        <header>
            <h1>todos</h1>
            @using (Html.BeginRefreshForm(null, true)) {
                @Html.TextBoxFor(m => m.NewTitle, new { placeholder = "What needs to be done?", autofocus = "autofocus" })
                <input type="hidden" name="action" value="add" />
            }
        </header>
        <section>
            <ul id="todo-list">
                @foreach (var todo in Model.Todos) {
                    <li>
                        @if (StateContext.Bag.id != todo.Id) {
                            @Html.RefreshLink(@todo.Title, new NavigationData{ { "id", @todo.Id } }, true)
                        } else {
                            using (Html.BeginRefreshForm(null, true)) {
                                <input type="text" name="Title" value="@todo.Title" />
                                <input type="hidden" name="action" value="edit" />
                            }
                        }
                    </li>
                }
            </ul>
        </section>
    </section>
</body>
</html>
