@model TodoModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Navigation • TodoMVC</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            @Ajax.RefreshPanel("new", "",
                @<div>
                    @using (Html.BeginRefreshForm(null, true, __razor_template_writer, new { id = "todo-form" })) {
                        @Html.TextBoxFor(m => m.NewTitle, new { id = "new-todo", placeholder = "What needs to be done?", autofocus = "autofocus", autocomplete = "off" })
                        <input type="hidden" name="action" value="add" />
                    }
                </div>)
        </header>
        <section id="main">
            @Ajax.RefreshPanel("toggle", "",
                @<div>
                    @using (Html.BeginRefreshForm(null, true, __razor_template_writer)) {
                        <button id="toggle-all" name="action" value="@Model.ToggleAll" class="@Model.ToggleAll">@Model.ToggleAllText</button>
                    }
                </div>)
            @Ajax.RefreshPanel("todos", Model.Changed,
                @<div>
                    <ul id="todo-list">
                        @foreach (var todo in Model.Todos) {
                            <li>@Html.Partial("_Item", todo)</li>
                        }
                    </ul>
                </div>)
        </section>
        @Ajax.RefreshPanel("status", "",
            @<div>
                @Html.Partial("_Footer", Model)
            </div>)
    </section>
    <footer id="info">
    </footer>
    <script src="~/Scripts/navigation.mvc.js"></script>
    <script type="text/javascript">
        (function (win) {
            if (!win.refreshAjax) return;
            refreshAjax.navigated(function (req, resp) {
                if (req.target && req.target.id === 'todo-form') {
                    var newTodoId = 0;
                    for (var id in resp.panels) {
                        var todoId = Number(id.slice(4));
                        if (todoId && newTodoId < todoId)
                            newTodoId = todoId;
                    }
                    if (newTodoId && !document.getElementById('todo' + newTodoId)) {
                        document.getElementById('todo-list')
                            .insertAdjacentHTML('beforeend', '<li><span id="todo' + newTodoId + '" /></li>');
                    }
                }
            });
            refreshAjax.updated(function (req, resp) {
                if (req.target && req.target.getAttribute) {
                    var todoId = req.target.getAttribute('data-todo');
                    if (todoId && !resp.panels['todo' + todoId]) {
                        var todo = document.getElementById('todo' + todoId);
                        if (todo) {
                            var listItem = todo.parentNode;
                            listItem.parentNode.removeChild(listItem);
                        }
                    }
                }
                var el;
                if (req.target && req.target.id === 'todo-form')
                    el = document.getElementById('new-todo');
                else
                    el = document.querySelector('#todo-list input');
                if (el) {
                    el.focus();
                    el.value = el.value;
                }
            });
        })(window);
    </script>
</body>
</html>
