@model TodoModel
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Navigation • TodoMVC</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            @using (Html.BeginRefreshForm(null, true, null, new { id = "todo-form" })) {
                @Html.TextBoxFor(m => m.NewTitle, new { id = "new-todo", placeholder = "What needs to be done?", autofocus = "autofocus", autocomplete = "off" })
                <input type="hidden" name="action" value="add" />
            }
        </header>
        <section id="main">
            @using (Html.BeginRefreshForm(null, true)) {
                <button id="toggle-all" name="action" value="@Model.ToggleAll" class="@Model.ToggleAll">@Model.ToggleAllText</button>
            }
            <ul id="todo-list">
                @foreach (var todo in Model.Todos) {
                    <li>
                    @Ajax.RefreshPanel("todo" + todo.Id, todo.Changed,
                        @<div>
                            @Html.Partial("_Item", todo)
                        </div>)
                    </li>
                }
            </ul>
        </section>
        @Html.Partial("_Footer", Model)
    </section>
    <footer id="info">
    </footer>
    <script src="~/Scripts/navigation.mvc.js"></script>
    <script type="text/javascript">
        (function (win) {
            if (!win.refreshAjax) return;
            refreshAjax.updated(function (req, resp) {
                var el = document.querySelector('#todo-list input');
                if (!el && req.target && req.target.id === 'todo-form')
                    el = document.getElementById('new-todo');
                if (el) {
                    el.focus();
                    el.value = el.value;
                }
            });
        })(window);
    </script>
</body>
</html>
