@model TodoModel
<footer id="footer">
    <span id="todo-count">
        <strong>@Model.ItemsLeft</strong>
        @(Model.ItemsLeft != 1 ? "items" : "item") left
    </span>
    <ul id="filters">
        <li class="@Model.AllSelected">@Html.RefreshLink("All", new NavigationData { { "id", "" }, { "mode", "all" } })</li>
        <li class="@Model.ActiveSelected">@Html.RefreshLink("Active", new NavigationData { { "id", "" }, { "mode", "active" } })</li>
        <li class="@Model.CompletedSelected">@Html.RefreshLink("Completed", new NavigationData { { "id", "" }, { "mode", "completed" } })</li>
    </ul>
    @if (Model.CompletedCount > 0) {
        using (Html.BeginRefreshForm(null, true)) {
            <button id="clear-completed" name="action" value="clearCompleted">Clear completed @Model.CompletedCount</button>
        }
    }
</footer>
